.App_bi {
  width: 100%;
  padding-top: 15px;
  position:absolute;



}
.headu {
  width: 100%;
  padding-top: 50px;
  display: inline;
  padding-top: 30px;

}
.notifi {
  color: #659fdf;
}
.body_3 {
  display: flex;
  width: 100%;
  padding-top: 30px;

}

.revenue {
  width: 45%;
  height: 350px;
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);;
}

.p_margin {
  width: 45%;
  height: 370px;
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);;
}

.items {
  width: 35%;
  padding-top: 0%;
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);;
}

.per {
  width: 55%;
  height: 380px;
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);;
}

.retention {
  width: 35%;
  height: 350px;
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);;
}

.emp {
  width: 95%;
  height: 350px;
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);;
}

.clients {
  width: 55%;
  height: 470px;
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);;
}

.head_right {
  padding-top: 50px;
  width: auto;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: flex;
justify-content: right;
align-items: right;
}
.App-dp {
  width: 50px;
  border: 1px solid;
  border-color: #659fdf;
  border-radius: 50%;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  padding-left: 10px;
}

.tile_text {
  font-size: 20px;
  color: #5f5c77;
}

.p_title {
  font-size: 18px;
  color: #82db6d;
}
.TrendingUpIcon {
  color: #82db6d;
}
.drop_down {
  float: right;
}

.space {
  width: 3%;
  display: inline-block;

}

.meeting_add {
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  float: right;
  text-align: right;
  margin-right: 20px;
}

.add_new {
  color: #659fdf;
}

.noti_win {

  position:fixed;
  z-index: 1;
  top:50%;
  left:50%;
  width:50%;  /* adjust as per your needs */
  height:400px;   /* adjust as per your needs */
  margin-left:-25%;   /* negative half of width above */
  margin-top:-200px;   /* negative half of height above */
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);
  align-items: center;
  align-content: center;
  text-align: center;
}

.report_win {

  position:fixed;
  z-index: 1;
  top:20%;
  left:12.5%;
  width:75%;  /* adjust as per your needs */
  height:600px;   /* adjust as per your needs */
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);
  align-items: center;
  align-content: center;
  text-align: center;
}

.add_new_win{

  width:100%;  /* adjust as per your needs */
  height:500px;   /* adjust as per your needs */
  background-color: #FFF;
  box-shadow: 15px 15px 15px rgba(102, 102, 102, .2);
  align-items: center;
  align-content: center;
  text-align: center;
}

.popup-content {
  background: rgb(255, 255, 255, 0.0);
  width: 50%;
  height: 500px;
  align-items: center;
  align-content: center;
  text-align: center;
  display:inline-block;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}


.App-link {
  color: #61dafb;
}
.button {
  font-size: 15px;
  color: #FFF;
  background-color: #659fdf;
  width: 10%;
  height: 40px;
  border: 1px solid;
  border-color: #659fdf;
  border-radius: 30px;
  transition: background-color .5s;
}

.button:hover {
  background-color: #0079FF;
  cursor: pointer;
}

.button_add {
  font-size: 15px;
  color: #FFF;
  background-color: #659fdf;
  width: 40%;
  height: 40px;
  border: 1px solid;
  border-color: #659fdf;
  border-radius: 30px;
  transition: background-color .5s;
  margin-left: auto;
}

.button_delete {
  font-size: 15px;
  color: #FFF;
  background-color: #E63B16;
  width: 40%;
  height: 40px;
  border: 1px solid;
  border-color: #E63B16;
  border-radius: 30px;
  transition: background-color .5s;
  margin-left: auto;
}

.button_add:hover {
  background-color: #0079FF;
  cursor: pointer;
}
