.hr_att_abackgroud {
  background-color: #c4e0e9;
}

.hr_att_table {
  border-collapse: collapse;
  width: 50%;
  font-size: 20px;
  margin-left: 450px;
}

.hr_att_td {
  width: auto;
}

.hr_att_h1 {
  margin-left: 560px;
  font-size: 30px;
}
