.salaryAppBack {
  background: #c4e0e9;
  margin: 50px;
}
.hr_salary_table {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}

.hr_salary_td {
  width: auto;
}

.hr_salary_h1 {
  margin-left: 260px;
  font-size: 30px;
}

.hr_salary_table2 {
  margin-left: 100px;
}
