.hr_searchInputs {
  margin-top: 105px;
  margin-left: 750px;
  display: flex;
}

.hr_search input {
  background-color: rgb(175, 214, 230);
  border: 10;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 50px;
  padding: 15px;
  height: 75px;
  width: 500px;
}

.hr_searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

.hr_input:focus {
  outline: none;
}
.hr_searchIcon svg {
  font-size: 35px;
}

.hr_dataResult {
  margin-top: 5px;
  margin-left: 475px;
  width: 435px;
  height: 0px;
  background-color: rgb(220, 225, 235);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.hr_dataResult::-webkit-scrollbar {
  display: none;
}

.hr_dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.hr_dataItem p {
  margin-left: 10px;
}
.hr_a {
  text-decoration: none;
}

.hr_a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}
